* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #000;
  height: 80px;
  width: 100%;
  display: flex;
  padding: 5px;
  position: fixed;
  z-index: 3;
  margin: auto;
}
header .logo {
  width: 20%;
}
header #checkbtn {
  display: none;
}
header label {
  display: none;
}
header nav {
  width: 80%;
  display: flex;
  align-self: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: center;
  width: 100%;
  align-content: center;
}
header nav ul li {
  width: 15%;
  text-align: center;
  list-style: none;
  margin: 5px;
  padding: 5px;
}
header nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
}
header nav ul li a:hover {
  background-color: #3c3a3a;
  transition: 1s 0s ease-in-out;
  box-shadow: 1px 1px 20px 0 #FFFFFF;
  border: hidden #161515 1px;
  transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
  }
  header .logo {
    justify-content: space-between;
    width: 100%;
  }
  header .logo img {
    margin-left: -20px;
  }
  header nav {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -200%;
    height: 60px;
    flex-wrap: wrap;
    background-color: #000;
  }
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: auto;
  }
  header nav ul li a {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
  }
  header #checkbtn {
    display: none;
  }
  header .menu-hamb {
    margin: 12px 25px 0px auto;
    display: block;
    z-index: 6;
    height: 15px;
  }
  header .menu-hamb i {
    color: #FFFFFF;
  }
  header .cruz-boton {
    margin: 12px 25px 0px auto;
    display: none;
    height: 15px;
    z-index: 6;
  }
  header .cruz-boton i {
    color: #FFFFFF;
  }
  header #checkbtn:checked ~ nav {
    margin-top: 60px;
    transition: all 500ms ease-in;
  }
  header #checkbtn:checked ~ .cruz-boton {
    display: block;
    transition: all 500ms ease-in-out;
  }
  header #checkbtn:checked ~ .menu-hamb {
    left: 0;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
  }
  header .logo {
    justify-content: space-between;
    width: 100%;
  }
  header nav {
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: right;
    margin-left: 40%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8509803922);
  }
  header nav ul {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: right;
    margin: 15px auto;
    flex-direction: column;
  }
  header nav ul li {
    margin: 15px auto;
    text-align: right;
    width: 100%;
  }
  header nav ul li a {
    display: flex;
    justify-content: right;
    font-size: 15px;
    letter-spacing: 10px;
    width: 100%;
    text-align: right;
  }
  header nav a:hover {
    border-radius: none;
    transition: none;
    color: #FFFFFF;
    border-bottom: none;
    cursor: pointer;
    background: none;
    background: -webkit-linear-gradient(none);
    background: linear-gradient(none);
    border-radius: none;
    transition: none;
    box-shadow: none;
    transform: none;
  }
  header #checkbtn {
    display: none;
  }
  header .menu-hamb {
    margin: 15px 25px 0px auto;
    display: block;
    height: 15px;
  }
  header .cruz-boton {
    margin: 15px 25px 0px auto;
    display: none;
    height: 15px;
  }
  header #checkbtn:checked ~ nav {
    margin-top: 60px;
    transition: all 300ms ease-in;
  }
  header #checkbtn:checked ~ .cruz-boton {
    display: block;
    transition: all 300ms ease-in-out;
  }
  header #checkbtn:checked ~ .menu-hamb {
    left: 0;
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header .logo {
    width: 50%;
    padding: 0px;
  }
  header .logo img {
    margin-top: 10px;
    margin-left: -20px;
    width: 150px;
    height: 50px;
  }
  header nav ul li a {
    font-size: 10px;
  }
  header .menu-hamb {
    margin: 20px 25px 0px auto;
    display: block;
    height: 15px;
  }
  header .menu-hamb i {
    font-size: 25px;
  }
  header .cruz-boton {
    margin: 20px 25px 0px auto;
    display: none;
    height: 15px;
  }
  header .cruz-boton i {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  header nav {
    width: 70%;
    margin-left: 30%;
  }
  header nav ul li a {
    font-size: 8px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  background-color: #000;
  margin: 0px auto;
  height: 100%;
}
main .section2 {
  width: 100%;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.2784313725);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin-top: 0px;
}
main .section2 .titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 80px;
  height: 80px;
  width: 100%;
}
main .section2 .titulo h2 {
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Grape Nuts", cursive;
  background-color: rgba(42, 42, 42, 0.4941176471);
}
main .section2 .sobreMi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto;
}
main .section2 .sobreMi .miFoto {
  width: 50%;
  display: flex;
  justify-content: center;
}
main .section2 .sobreMi .miFoto img {
  width: 80%;
  height: 100%;
  border-radius: 30px 0px 100px 0px;
}
main .section2 .sobreMi .miDescripcion {
  padding: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
main .section2 .sobreMi .miDescripcion p {
  width: 100%;
}
main .section3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  background-image: url(../img/fondo.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .section3 .titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
  height: 80px;
  width: 100%;
}
main .section3 .titulo h2 {
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Grape Nuts", cursive;
  background-color: rgba(5, 5, 5, 0.4941176471);
}
main .section3 .misProyectos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 150px;
}
main .section3 .misProyectos .card {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 5px;
}
main .section3 .misProyectos .card img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0 #858585;
}
main .section3 .misProyectos .card h4 {
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
main .section3 .misProyectos .card a {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #fffafa;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  box-shadow: 1px 1px 20px 0 #5f5d5d;
  text-shadow: 1px 1px 20px #000000;
}
main .section3 .misProyectos .card a span {
  color: #fa0606;
}
main .section3 .misProyectos .card a:hover {
  background-color: rgba(0, 0, 0, 0.0941176471);
  color: #0c0b0b;
}
main .section3 .misProyectos .card a:hover span {
  color: #dd820c;
}
main .section4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #000000;
  padding-bottom: 25px;
}
main .section4 .titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
  height: 80px;
  width: 100%;
}
main .section4 .titulo h2 {
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Grape Nuts", cursive;
  background-color: rgba(42, 42, 42, 0.4941176471);
}
main .section4 .misCertificados {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
}
main .section4 .misCertificados .card {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3d3c3c;
  padding: 15px;
  border-radius: 15px;
  margin: 5px;
}
main .section4 .misCertificados .card img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0 #858585;
}
main .section4 .misCertificados .card h4 {
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fffafa;
}
main .section4 .misCertificados .card a {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #fffafa;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  background: #050505;
  background-image: -webkit-linear-gradient(top, #000000, #222324);
  box-shadow: 1px 1px 20px 0 #5f5d5d;
  text-shadow: 1px 1px 20px #000000;
}
main .section4 .misCertificados .card a span {
  color: #fa0606;
}
main .section4 .misCertificados .card a:hover {
  background-color: rgba(0, 0, 0, 0.0941176471);
  color: #fdfdfd;
}
main .section4 .misCertificados .card a:hover span {
  color: #dd820c;
}

@media screen and (max-width: 768px) {
  main .section2 {
    height: 100%;
  }
  main .section2 .sobreMi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px auto;
  }
  main .section2 .sobreMi .miFoto {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  main .section2 .sobreMi .miFoto img {
    width: 50%;
    height: 100%;
    border-radius: 30px 0px 100px 0px;
  }
  main .section2 .sobreMi .miDescripcion {
    padding: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  main .section2 .sobreMi .miDescripcion p {
    width: 100%;
  }
  main .section3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350%;
    margin-top: 50px;
  }
  main .section3 .titulo {
    margin-top: 20px;
  }
  main .section3 .misProyectos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
  main .section3 .misProyectos .card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
  }
  main .section3 .misProyectos .card img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 0 #858585;
  }
  main .section3 .misProyectos .card h4 {
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
  }
  main .section3 .misProyectos .card a {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #fffafa;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    box-shadow: 1px 1px 20px 0 #5f5d5d;
    text-shadow: 1px 1px 20px #000000;
  }
  main .section3 .misProyectos .card a span {
    color: #fa0606;
  }
  main .section3 .misProyectos .card a:hover {
    background-color: rgba(0, 0, 0, 0.0941176471);
    color: #0c0b0b;
  }
  main .section3 .misProyectos .card a:hover span {
    color: #dd820c;
  }
  main .section4 {
    width: 100%;
    height: auto;
  }
  main .section4 .titulo {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
    height: 80px;
    width: 100%;
  }
  main .section4 .titulo h2 {
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Grape Nuts", cursive;
    background-color: rgba(42, 42, 42, 0.4941176471);
  }
  main .section4 .misCertificados {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
  }
  main .section4 .misCertificados .card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3d3c3c;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
  }
  main .section5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    margin-top: 50px;
  }
  main .section5 .titulo {
    margin-top: 0px;
  }
  main .section5 form {
    margin: 50px auto;
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  main .section2 {
    height: 100%;
  }
  main .section2 .sobreMi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px auto;
  }
  main .section2 .sobreMi .miFoto {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .section2 .sobreMi .miFoto img {
    width: 50%;
    height: 50%;
    border-radius: 30px 0px 100px 0px;
  }
  main .section2 .sobreMi .miDescripcion {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  main .section2 .sobreMi .miDescripcion p {
    width: 100%;
  }
  main .section3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450%;
    margin-top: 50px;
  }
  main .section3 .titulo {
    margin-top: 20px;
  }
  main .section3 .misProyectos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
  main .section3 .misProyectos .card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
  }
  main .section4 {
    width: 100%;
    height: auto;
  }
  main .section4 .misCertificados {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
  }
  main .section4 .misCertificados .card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3d3c3c;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
  }
  main .section5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    margin-top: 50px;
  }
  main .section5 .titulo {
    margin-top: 0px;
  }
  main .section5 form {
    margin: 50px auto;
    width: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .section5 {
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  background-image: url(../img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: #000000;
}
main .section5 .titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  height: 80px;
  width: 100%;
}
main .section5 .titulo h2 {
  margin-top: 50px;
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Grape Nuts", cursive;
  background-color: rgba(5, 5, 5, 0.4941176471);
}
main .section5 form {
  margin: 50px auto;
  width: 50%;
  padding: 15px;
  color: #f9f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 5px 10px 5px gray;
  background-color: rgba(17, 16, 16, 0.8784313725);
  border-radius: 5px 30px 5px 30px;
  font-family: "Grape Nuts", cursive;
}
main .section5 form .inputs-texts {
  margin: 15px auto;
  width: 40%;
  font-size: 15px;
  font-weight: bold;
}
main .section5 form .inputs-texts input {
  width: 100%;
  height: 30px;
}
main .section5 form .comentario {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
}
main .section5 form .comentario textarea {
  height: 200px;
  width: 100%;
}
main .section5 form .button {
  margin: 5px auto;
  display: flex;
}
main .section5 form .button button {
  background-color: #edde9c;
  border: hidden;
  text-align: center;
  font-size: 15px;
  color: #444444;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
main .section5 form .button button:hover {
  background-color: black;
  border: hidden;
  cursor: pointer;
  color: white;
  text-shadow: none;
}
main .section5 form .contenedor-load {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
main .section5 form .contenedor-load .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
main .section5 form .contenedor-load .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
main .section5 form .contenedor-load .lds-ripple div div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  main .section5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    margin-top: 50px;
  }
  main .section5 .titulo {
    margin-top: 0px;
  }
  main .section5 form {
    margin: 50px auto;
    width: 90%;
  }
  main .section5 form .button {
    margin: 5px auto;
    display: flex;
  }
  main .section5 form .button button {
    background-color: #edde9c;
    border: hidden;
    text-align: center;
    font-size: 12px;
    color: #444444;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
  }
  main .section5 form .button button:hover {
    background-color: black;
    border: hidden;
    cursor: pointer;
    color: white;
    text-shadow: none;
  }
}
@media screen and (max-width: 500px) {
  main .section5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400%;
    margin-top: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: auto;
  background-color: #4c4b4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .iconos-frame {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
footer .iconos-frame img {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 100px;
  border: hidden;
  margin: 5px;
}
footer .redes {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .redes a {
  margin: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-whatsapp {
  position: fixed;
  bottom: 20px;
  left: 5px;
  cursor: pointer;
  z-index: 3;
}
.contenedor-whatsapp img {
  width: 50px;
  height: 50px;
  position: relative;
}
.contenedor-whatsapp a {
  cursor: pointer;
}
.contenedor-whatsapp .texto-whatsapp {
  background-color: rgba(0, 0, 0, 0.637);
  margin-top: -38px;
  margin-left: 50px;
  width: 120px;
  position: absolute;
  transition: 500ms all ease;
  opacity: 0;
  text-align: center;
  color: #fff;
  visibility: hidden;
  background-color: #45c014;
  border-radius: 100px;
  cursor: pointer;
}

.contenedor-whatsapp:hover > .texto-whatsapp {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  .contenedor-whatsapp img {
    width: 35px;
    height: 35px;
    z-index: 3;
  }
  .contenedor-whatsapp .texto-whatsapp {
    margin-top: -29px;
    margin-left: 35px;
    width: 80px;
  }
  .contenedor-whatsapp .texto-whatsapp h5 {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040404;
  scroll-behavior: smooth;
}

.section1 {
  width: 100%;
  height: 300px;
  margin: auto;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 h1 {
  height: auto;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  color: #f8f4f4;
  text-shadow: 15px 5px 15px rgb(253, 252, 252);
  font-family: "Indie Flower", cursive;
  font-size: 65px;
  opacity: 1.2;
  background-color: rgba(4, 4, 4, 0.737254902);
  letter-spacing: 15px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .section1 {
    width: 100%;
    height: 300px;
  }
  .section1 h1 {
    height: auto;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
