@import 'variables';
@import 'mixins';

* {
    @include formatDocument
}

footer {
    width: 100%;
    height: auto;
    background-color: #4c4b4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .iconos-frame {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;



        img {
            width: 100px;
            height: 100px;
            background-color: #ffffff;
            border-radius: 100px;
            border: hidden;
            margin: 5px;
        }


    }

    .redes {
        margin-top: 50px;
    }
}