@import 'variables';
@import 'mixins';

* {
    @include formatDocument
}

main {
    width: 100%;
    background-color: $colorPrimary;
    margin: 0px auto;
    height: 100%;


    .section1 {
        width: 100%;
        height: 750px;
        display: flex;
        justify-content: center;

        video {
            display: flex;
            justify-content: center;
            width: 100%;

            .video {
                width: 100%;
            }

        }
    }

    .section2 {
        width: 100%;
        height: 100vh;
        color: #ffff;
        background-color: #00000047;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 5px;
        margin-top: 20px;

        .titulo {
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: -10px;
            height: 80px;
            width: 100%;

            h2 {
                height: 40px;
                width: 100%;
                text-align: center;
                color: white;
                font-family: 'Grape Nuts', cursive;
                background-color: #2a2a2a7e;
            }
        }

        .sobreMi {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 30px auto;

            .miFoto {
                width: 50%;
                display: flex;
                justify-content: center;

                img {
                    width: 50%;
                    height: 100%;
                    border-radius: 30px 0px 100px 0px;
                }
            }

            .miDescripcion {
                padding: 15px;
                width: 50%;
                display: flex;
                justify-content: center;
                align-self: center;
            }
        }

    }

    .section3 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;
        background-image: url(../img/fondo.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        .titulo {
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: -10px;
            height: 80px;
            width: 100%;

            h2 {
                height: 40px;
                width: 100%;
                text-align: center;
                color: white;
                font-family: 'Grape Nuts', cursive;
                background-color: #0505057e;
            }
        }

        .misProyectos {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 30px;

            .card {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #ffff;
                padding: 15px;
                border-radius: 15px;
                margin: 5px;

                img {
                    width: 100%;
                    height: 80%;
                    border-radius: 10px;
                    box-shadow: 1px 1px 20px 0 #858585;
                }

                h4 {
                    margin-top: 15px;
                    font-family: sans-serif;
                    font-weight: bold;
                }

                a {
                    text-align: center;
                    font-family: sans-serif;
                    font-weight: bold;
                    color: #fffafa;
                    margin-top: 5px;
                    border-radius: 5px;
                    padding: 5px;
                    text-decoration: none;
                    background: #3D94F6;
                    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
                    box-shadow: 1px 1px 20px 0 #5f5d5d;
                    text-shadow: 1px 1px 20px #000000;

                    span {
                        color: #fa0606;
                    }
                }

                a:hover {
                    background-color: #00000018;
                    color: #0c0b0b;

                    span {
                        color: #dd820c;
                    }
                }

            }

        }
    }

    .section4 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        background-color: #000000;
        padding-bottom: 25px;


        .titulo {
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 60px;
            height: 80px;
            width: 100%;

            h2 {
                height: 40px;
                width: 100%;
                text-align: center;
                color: white;
                font-family: 'Grape Nuts', cursive;
                background-color: #0505057e;
            }
        }

        .misCertificados {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 10px;

            .card {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #3d3c3c;
                padding: 15px;
                border-radius: 15px;
                margin: 5px;

                img {
                    width: 100%;
                    height: 80%;
                    border-radius: 10px;
                    box-shadow: 1px 1px 20px 0 #858585;
                }

                h4 {
                    margin-top: 15px;
                    font-family: sans-serif;
                    font-weight: bold;
                    color: #fffafa;
                }

                a {
                    text-align: center;
                    font-family: sans-serif;
                    font-weight: bold;
                    color: #fffafa;
                    margin-top: 5px;
                    border-radius: 5px;
                    padding: 5px;
                    text-decoration: none;
                    background: #050505;
                    background-image: -webkit-linear-gradient(top, #000000, #222324);
                    box-shadow: 1px 1px 20px 0 #5f5d5d;
                    text-shadow: 1px 1px 20px #000000;

                    span {
                        color: #fa0606;
                    }
                }

                a:hover {
                    background-color: #00000018;
                    color: #fdfdfd;

                    span {
                        color: #dd820c;
                    }
                }

            }

        }
    }


}