@import 'variables';
@import 'mixins';
@import 'header';
@import 'main';
@import 'contacto';
@import 'footer';

* {
    @include formatDocument
}

body {
    background-color: #958989;
    scroll-behavior: smooth;
}

.section1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: red;
    margin: auto;

    video {
        display: flex;
        justify-content: center;
        width: 100%;

        .video {
            width: 100%;
        }

    }
}