@import 'variables';
@import 'mixins';
@import 'header';
@import 'main';
@import 'contacto';
@import 'footer';
@import 'whatsapp';

* {
    @include formatDocument
}

body {
    background-color: #040404;
    scroll-behavior: smooth;
}

.section1 {
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        height: auto;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        color: #f8f4f4;
        text-shadow: 15px 5px 15px rgb(253, 252, 252);
        font-family: 'Indie Flower', cursive;
        font-size: 65px;
        opacity: 1.2;
        background-color: #040404bc;
        letter-spacing: 15px;
        padding: 10px;
    }



}

@media screen and(max-width:768px) {
    .section1 {
        width: 100%;
        height: 300px;


        h1 {
            height: auto;
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-self: center;
        }



    }
}